*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display:table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1,h2{
  color: rgb(205, 92, 92);
}

h1{
  font-size: 40px;
  margin-bottom: 20px;
}

h2{
  font-size: 25px;
  margin: 20px 0px;
}

.container{
  width: 1140px;
  margin: 20px auto;
}

.blog-post{
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.blog-post img{
  height: 150px;
  width: auto;
}

.date{
  position: absolute;
  top: 15px;
  right: 30px;
}

.related-posts{
  width: 25%;
  float: left;
}

.plain-text{
  text-align: justify;
  margin: 20px 0px;
}

.author-text{
  font-size: 22px;
  float: left;
  margin: 30px 0px 0px 15px;
}

.author-content{
  border-top: 2px solid rgb(139, 137, 137);
  padding-top: 20px;
}

.author-content img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}

.other-post{
  margin-bottom: 40px;
}